* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;     
    font-weight: bold;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 30px;
}

nav {
    background-color: #444;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

.container {
    display: flex;
    flex: 1;    
}

aside {
    width: 22%;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 56%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}